useDynLib(sincell)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(igraph)
import(entropy)
import(scatterplot3d)
import(MASS)
import(TSP)
import(ggplot2)
import(reshape2)
import(fields)
import(proxy)
import(Rtsne)
import(fastICA)
import(parallel)
import(cluster)
import(statmod)
